.loading-animations-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ascii-container {
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}